[Unit]
Description=Jarvis Slack Bot
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
Restart=always
RestartSec=5
WorkingDirectory=/root/jarvis
ExecStart=/usr/bin/node index.js

[Install]
WantedBy=multi-user.target
